body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: ivory;
}
p{
    padding: 10px 20px 10px 10px;
    text-align: justify;
}

.header{
    background-image: url("./images/Group\ 17.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 150px 0;
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.half{
    max-width: 42%;
    padding-left: 8%;
}
.half img{
    max-width: 90%;
    
}
.ptop{
    padding-top: 200px;
    width: 50vw;
}
h2{
    color: #333;
    font-size: 3rem;
   
}
h3{
    font-size: 2rem;
    color: #333;
    line-height: 0;
}
.myname{
    color: #FC0C2D;
}
.fullstack{
    color: #C5C5C5;
    font-size: 2rem;
}

.jbtn{
    background-image: linear-gradient(red,orange);
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    border: none;
    text-decoration: none; 
}
.jbn:hover{
    background-image: linear-gradient(red, crimson);
}

.dream{
    padding: 100px 0 100px 0;
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience{
    padding: 100px 0 150px 0;
    background-image: url("./images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.cardl{
    width: 90%;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 5px rgba(0,0,0, .5) ;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, gold, red);
    border-image-slice: 1;

}
.cardr{
    width: 90%;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 5px rgba(0,0,0, .5) ;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, gold);
    border-image-slice: 1;
}
h5{
    color: #FC0C2D;
    font-size: 18px;
}
footer{
    text-align: center;
    background-color: #333;
    padding: 20px 0;
    color: #fff;
}
